
.image-div{
    position: relative;
    top: 100px;
    left: 0px;
    height: 500px;
    width: 900px;
    margin-right: 250px;
}

.image{
    position: relative;
    height: 500px;
    left: 505px;
}
.name{
    position: relative;
    top: 150px;
    left: 700px;
    width: 500px;
    font-size: 20px;
    font-weight: 500;
}
.link{
    position: relative;
    top: 200px;
    left: 703px;
    width: 500px;
    font-size: 20px;
    font-weight: 500;
}
.description{
    position: relative;
    top: 250px;
    left: 615px;
    height: 100px;
    width: 700px;
    font-size: 20px;
}